 <!doctype html>
<html class="html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
<title>微软中国</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/common.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/pad.css" media="(min-width:768px)">
<link rel="stylesheet" type="text/css" href="../stylesheets/pc.css" media="(min-width:1000px)">
<link rel="stylesheet" type="text/css" href="../stylesheets/pc-w.css" media="(min-width:1200px)">

</head>

<body>
<div class="wrgg">
    Surface Pro 4 i5 热销机型优惠中 <a href="#">立即购买></a>
</div>
<div class="g_header">
    <div class="clearfix cw">
        <a href="#" class="u_logo fl"></a>
        <div class="m_header_icon fr">
            <a href="#" class="u_help pcshow">支持与帮助</a>
            <a href="#" class="u_search iconfont pchide">&#xe625;</a>
            <span class="u_search_input pcshow"><input type="text"></span>
            <a href="#" class="u_shop iconfont">&#xe60a;</a>
            <a href="#" class="u_user iconfont pchide">&#xe601;</a>
            <a href="#" class="u_login pcshow">登陆</a>
        </div>
    </div>
</div>
<div class="g_nav">
    <div class="g_nav_bd cw clearfix">
        <a href="#" class="u_wrlink">微软官方商城</a>
        <a href="#" class="u_menu_btn iconfont pchide">&#xe634;</a>
        <div class="g_nav_list pcblock">
            <ul class="m_nav_list clearfix">
                <li class="m_drog_menu">
                    <a href="#">以旧</a>
                    <ul class="hide">
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">Windows Phone</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                    </ul>
                </li>
                <li class="m_drog_menu">
                    <a href="#">以旧</a>
                    <ul class="hide">
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">Windows Phone</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                        <li><a href="#">阿三地方</a></li>
                    </ul>
                </li>
                <li><a href="#">以旧换新</a></li>
                <li><a href="#">以旧换新</a></li>
                <li><a href="#">以旧换新</a></li>
                <li class="pchide"><a href="#">支持与帮助</a></li>
                <li class="pchide"><a href="#">客服热线：4008822059 </a></li>
            </ul>
        </div>
    </div>
</div>
<!--焦点图-->
<div class="g_banner">
    <div class="m_banner">
        <div class="cw clearfix">
            <div class="u_banner_text">
                <h4>企业频道</h4>
                <h5>为企业打造具有前瞻性的整合解决方案</h5>
                <p>批量采购，可享更低折扣；免费送货，售后无忧；如有需求，可开具增值税发票 <br>购买企业办公软件，采购笔记本电脑，请拨打<br>微软官方商城企业购买与服务热线：400-805-6783</p>
            </div>
            <img src="../images/banner_img.jpg" class="autoimg" alt="">
        </div>
    </div>
</div>
<!--畅销排行-->
<div class="cont_nav clearfix">
   <div class="tar">
      <a href="">畅销主打</a>
      <a href="">入门精选</a>
      <a href="">剑域之轩</a>
   </div>
   <div>
     <a href="">玩家必备</a>
     <a href="">潮人利器</a>
     <a href="" class="u_towLine">剑域之轩&以旧换新</a>
   </div>
</div>
<!--配图-->
<div class="u_tit_info ut1">
    <div class="u_tit_c">
        <i class="u_sl"></i>
    </div>
</div>
<!--商品 列表*-->
<div class="g_list clearfix cw">
    <div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div>
</div>
<div class="u_tit_info ut2">
    <div class="u_tit_c fr">
        <i class="u_sr"></i>
    </div>
</div>
<div class="g_list clearfix cw">
    <div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div>
</div>
<div class="u_tit_info ut1">
    <div class="u_tit_c">
        <i class="u_sl"></i>
    </div>
</div>
<div class="g_list clearfix cw">
    <div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div>
</div>
<div class="u_tit_info ut2">
    <div class="u_tit_c fr">
        <i class="u_sr"></i>
    </div>
</div><div class="g_list clearfix cw">
    <div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div><div class="m_item">
       <img src="../images/MIC1499-300Wx180H-1.png" class="autoimg" />
       <h5>微软通用折叠键盘</h5>
       <p>微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘微软通用折叠键盘</p>
       <div class="m_item_fb">
          <span class="u_money"><i>&yen;</i>78888</span>
          <a href="" class="u_buy">立即购买</a>
       </div>
    </div>
</div>
<div class="u_tit_info ut1">
    <div class="u_tit_c">
        <i class="u_sl"></i>
    </div>
</div>
<div class="g_footer">
    <div class="m_footer_hd clearfix">
    <div class="cw>">
        <dl>
           <dt>产品类别
               <i class="iconfont">&#xe600;</i></dt>
               <dd>window</dd>
               <dd>订单跟踪</dd>
               <dd>window</dd>
               <dd>订单跟踪</dd>
       </dl>
        <dl>
           <dt>帮助<i class="iconfont">&#xe600;</i></dt>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
        </dl>
        <dl>
           <dt>关于我们<i class="iconfont">&#xe600;</i></dt>
                <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
       </dl>
        <dl>
           <dt>其他信息<i class="iconfont">&#xe600;</i></dt>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
        </dl>
        <dl>
           <dt>联系我们<i class="iconfont">&#xe600;</i></dt>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
               <dd>订单跟踪</dd>
        </dl>
    </div>
    <div class="m_footer_bd">
        <a href="" class="u_tab_sel">中国</a>
        <div class="u_about_info">
          <li><a href="">使用与销售</a></li>
          <li><a href="">使用与销售</a></li>
          <li><a href="">使用与销售</a></li>
          <li><a href="">使用与销售</a></li>
        </div>
       </div> 
    </div>
</div>
 <script type="text/javascript" src="../javascripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascripts/script.js"></script>
</body>
</html>